<a href="https://colab.research.google.com/github/bibilka/Big-Data-processing-technologies/blob/main/laba2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount ("/content/drive")

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

Вывод всего датасета

In [16]:
dataframe = pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/omh.csv", sep=",", index_col = "Date")
dataframe
# сразу делаем столбец даты - индексом

             MSFT    AAPL
Date
2014-12-01  48.62  115.07
2014-12-02  48.46  114.63
2014-12-03  48.08  115.93
2014-12-04  48.84  115.49
2014-12-05  48.42  115.00
2014-12-08  47.70  112.40
2014-12-09  47.59  114.12
2014-12-10  46.90  111.95
2014-12-11  47.17  111.62
2014-12-12  46.95  109.73
2014-12-15  46.67  108.23
2014-12-16  45.16  106.75
2014-12-17  45.74  109.41
2014-12-18  47.52  112.65
2014-12-19  47.66  111.78
2014-12-22  47.98  112.94
2014-12-23  48.45  112.54
2014-12-24  48.14  112.01
2014-12-26  47.88  113.99
2014-12-29  47.45  113.91
2014-12-30  47.02  112.52
2014-12-31  46.45  110.38

Вывод первых 5 записей

In [17]:
dataframe.head()
# head по умолчанию возвращает первые 5 записей

             MSFT    AAPL
Date
2014-12-01  48.62  115.07
2014-12-02  48.46  114.63
2014-12-03  48.08  115.93
2014-12-04  48.84  115.49
2014-12-05  48.42  115.00

In [18]:
pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/omh.csv", sep=",", nrows=5)
# второй способ - при считывании файла

         Date   MSFT    AAPL
0  2014-12-01  48.62  115.07
1  2014-12-02  48.46  114.63
2  2014-12-03  48.08  115.93
3  2014-12-04  48.84  115.49
4  2014-12-05  48.42  115.00

Вывести последние 3 записи

In [19]:
dataframe.iloc[-3:]

             MSFT    AAPL
Date
2014-12-29  47.45  113.91
2014-12-30  47.02  112.52
2014-12-31  46.45  110.38

In [20]:
dataframe.tail(3)

             MSFT    AAPL
Date
2014-12-29  47.45  113.91
2014-12-30  47.02  112.52
2014-12-31  46.45  110.38

Вывести записи, где значение столбца AAPL > 111

In [21]:
dataframe[dataframe["AAPL"] > 111]

             MSFT    AAPL
Date
2014-12-01  48.62  115.07
2014-12-02  48.46  114.63
2014-12-03  48.08  115.93
2014-12-04  48.84  115.49
2014-12-05  48.42  115.00
2014-12-08  47.70  112.40
2014-12-09  47.59  114.12
2014-12-10  46.90  111.95
2014-12-11  47.17  111.62
2014-12-18  47.52  112.65
2014-12-19  47.66  111.78
2014-12-22  47.98  112.94
2014-12-23  48.45  112.54
2014-12-24  48.14  112.01
2014-12-26  47.88  113.99
2014-12-29  47.45  113.91
2014-12-30  47.02  112.52

Вывести 5 записей даты, когда значение столбца AAPL принимает максимальные значения

In [42]:
max_aapls = dataframe.sort_values(by=['AAPL'], ascending=False).head(5)
max_aapls

             MSFT    AAPL
Date
2014-12-03  48.08  115.93
2014-12-04  48.84  115.49
2014-12-01  48.62  115.07
2014-12-05  48.42  115.00
2014-12-02  48.46  114.63

In [43]:
list(max_aapls.index)

['2014-12-03', '2014-12-04', '2014-12-01', '2014-12-05', '2014-12-02']

Добавить новый столбец NEW, который вынести  значение столбца AAPL, если оно больше среднего арифметического столбца AAPL и значение равное 0, в ином случае.

In [48]:
aapl_mean = dataframe["AAPL"].mean()
print("Среднее значение по столбцу AAPL = ", aapl_mean)
dataframe['NEW'] = np.where(
  dataframe['AAPL'] > aapl_mean, dataframe['AAPL'], 0
)

Среднее значение по столбцу AAPL =  112.41136363636365

In [47]:
dataframe

             MSFT    AAPL     NEW
Date
2014-12-01  48.62  115.07  115.07
2014-12-02  48.46  114.63  114.63
2014-12-03  48.08  115.93  115.93
2014-12-04  48.84  115.49  115.49
2014-12-05  48.42  115.00  115.00
2014-12-08  47.70  112.40    0.00
2014-12-09  47.59  114.12  114.12
2014-12-10  46.90  111.95    0.00
2014-12-11  47.17  111.62    0.00
2014-12-12  46.95  109.73    0.00
2014-12-15  46.67  108.23    0.00
2014-12-16  45.16  106.75    0.00
2014-12-17  45.74  109.41    0.00
2014-12-18  47.52  112.65  112.65
2014-12-19  47.66  111.78    0.00
2014-12-22  47.98  112.94  112.94
2014-12-23  48.45  112.54  112.54
2014-12-24  48.14  112.01    0.00
2014-12-26  47.88  113.99  113.99
2014-12-29  47.45  113.91  113.91
2014-12-30  47.02  112.52  112.52
2014-12-31  46.45  110.38    0.00